html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/dos.css')
	body
		.content
			h2 	#{title} Setup is Finished
			|	========================
			p	<br><br>
			b 	Thank you for choosing #{title}
	footer (C)2012 mktwo.net