body
	background: #0000ad
	color: #adaaad
	font-family: monospace
	font-weight: 400
	font-size: 1.25em
	margin: 10px 5px 0
	padding: 0
	max-width: 720px
::selection
	background: #adaaad
	color: #0000ad
::-moz-selection
	background: #adaaad
	color: #0000ad
h2
	font-size: 1em
	margin-bottom: 0
	font-weight: 400
footer
	margin-top: 250px
	background: #adaaad
	color: #0000ad
.loadBar
	background: #adaaad
	width: 10px
	margin: 250px 5px
	color: #0000ad